GROQ_API_KEY="YOUR GROQ API KEY"
#X tokens WILL BE FOUND IN developers.x.com/
X_API_KEY="YOUR X API KEY" 
X_API_KEY_SECRET="YOUR X API KEY SECRET"
X_ACCESS_TOKEN="YOUR X ACCESS TOKEN"
X_ACCESS_TOKEN_SECRET="YOUR X ACCESS TOKEN SECRET"